/* Estilo de fondo comun a todas las paginas */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body_color {
    background-color: black;
}


/* Estilo Zona Navegable comun a todas las paginas*/


header {
    background-color: #5c3011;
    margin-bottom: 10px;
}


.bg-santi {
    background-color: #5c3011;
}

.navbar-nav .nav-link {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    margin: 0.8rem;

}

.navbar-nav .nav-link:hover {
    color: #dc9e79;
}

header img {
    width: 6rem;
}

.navbar-nav {
    margin-left: auto;

}

/*Estilos main Index*/

.contenedor_index {
    display: flex;
    justify-content: center;
    align-content: center;
}


.items_index {
    flex-wrap: wrap;
    justify-items: center;
    margin-bottom: 50px;
}

.contenedor_logo_inicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo_inicio {
    width: 7.8rem;
    margin-top: 40px;
    margin-bottom: 20px;
}

.titulo_pagina {
    color: #debeab;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;
    font-weight: lighter;
    text-align: center;
    line-height: 1.2;
}

.sutitulo_pagina {
    color: #a26238;
    font-family: 'Sawarabi Mincho', serif;
    font-size: 1.2rem;
    font-weight: lighter;
    letter-spacing: 0.3em;
    text-align: center;
    line-height: 1.2;
}

.descripcion_inicio {
    color: #a26238;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 1.2;
}


/*Estilos footer comun a todas las paginas*/

footer {
    background-color: #462510;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 0;
}


.footer_letter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    color: black;
}

.logo_insta {
    width: 30px;
    margin-right: 20px;
}


/** Estilos titulos de cada pagina**/

.titulo_secciones {
    font-size: 2rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

/** Estilos Galeria **/

/** Ordenar la portada de las secciones de fotos de la galeria alineadas**/

.portadas_galeria_contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 16rem 16rem;
    justify-items: center;
    align-items: bottom;
    text-align: center;
    column-gap: 10px;
    grid-template-areas:
        'backpiece mangas otros'
        'backpiece mangas otros';
}

.disposicion_portadas_galeria_backpiece {
    grid-area: backpiece;
}

.disposicion_portadas_galeria_mangas {
    grid-area: mangas;
}

.disposicion_portadas_galeria_otros {
    grid-area: otros;
}

.portada_galeria {
    width: 80%;
    margin-left: 30px;
    margin-right: 30px;
    border: solid #462510;
    border-radius: 10px;
    background-color: #a26238;
    align-items: center;
}

.portada_galeria:hover {
    padding: 5px;
}

.descripcion_portadas:hover {
    color: #dc9e79;
}

/** Estilos de las portadas de las secciones de la galeria **/

.disposicion_portadas_galeria_backpiece,
.disposicion_portadas_galeria_mangas,
.disposicion_portadas_galeria_otros {
    margin-top: 20px;
    margin-bottom: 50px;
}

.disposicion_portadas_galeria_backpiece a,
.disposicion_portadas_galeria_mangas a,
.disposicion_portadas_galeria_otros a {
    text-decoration: none;
}



.descripcion_portadas {
    font-size: 1.3rem;
    color: #a26238;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 5px;
    letter-spacing: 0.1em;
}


/** Estilos de las secciones de la Galeria**/


.carousel {
    margin: auto;
}

.subtitulos_galerias {
    font-size: 2.5rem;
    color: black;
    font-weight: 600;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 80px;
}

#backpiece {
    background-color: #b47b57;
    padding: 80px;
    padding-top: 20px;
}

#mangas {
    background-color: #c59476;
    padding: 80px;
    padding-top: 20px;
}

#otros {
    background-color: #d5ae97;
    padding: 80px;
    padding-top: 20px;
}


/** Estilos Shop**/

/** Estilos Cards de artículos**/
.col {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.card {
    margin: 30px;
}

.card-body {
    background-color: #b47b57;
}

.card-text {
    color: #462510;
    font-family: 'Times New Roman', Times, serif;
}

/**Estilo texto shop**/
.textos_pagina_shop {
    text-align: center;
    color: #a26238;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin-top: 20px;
}

.row{
    margin-bottom: 100px;
}

/** Estilos Informacion**/

.contenedor_info {
    display: grid;
    grid-template-columns: 50% 80%;
    grid-template-rows: auto auto;
    grid-template-areas:
        'texto1 foto'
        'texto2 foto';
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: #a26238;
}

.textos_pagina_info1 {
    grid-area: texto1;
}


.textos_pagina_info2 {
    grid-area: texto2;
}


.foto_santu_info {
    grid-area: foto;
    width: 60%;
    justify-items: center;
    align-self: center;


}


.textos_pagina_info1,
.textos_pagina_info2 {
    color: black;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin-top: 50px;
    margin-left: 3rem;
    margin-right: 2rem;
    margin-bottom: 20px;
}


/**Estilos pagina Contacto**/

.grid_contacto {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "formulario direccion"
        "formulario direccion";
    justify-content: center;
    justify-items: center;
    background-color: #a26238;
    padding: 40px;
    margin-top: 80px;
    margin-bottom: 50px;
}

/** Estilo de la etiqueta p para contacto**/

.textos_pagina_contacto {
    color: #a26238;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    text-align: justify;
    margin: 50px;
}


/** Estilos Formulario **/

.formulario {
    grid-area: formulario;
    justify-self: center;
    align-self: center;
    background-color: black;
    padding: 20px;
    border: 0.2rem solid #5c3011;
}

.subtitulo_formulario {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #a26238;
    line-height: 2;
    font-weight: 500;
    text-align: center;
}

input,
textarea {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 4px;
    border: solid black;
    width: 100%;
    padding: 12px;
}


label {
    font-family: 'Times New Roman', Times, serif;
    color: #a26238;
    font-size: 1rem;
    padding: 10px 10px 10px 0;
}

.button {
    margin: 15px;
}

button {
    border: none;
    color: black;
    background-color: white;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 15px;
    float: right;
}

button:hover {
    background-color: antiquewhite;
}

/** Estilos apartado Direccion**/

.contenedor_direccion {
    grid-area: direccion;
    justify-self: center;
    align-self: center;
    background-color: black;
    padding: 15px;
    border: 0.2rem solid #5c3011;
    margin-right: 50px;
}

.subtitulo_direccion {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #a26238;
    font-weight: 500;
    line-height: 2;
    text-align: center;

}

.texto_direccion {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #a26238;
    ;
    text-align: justify;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

/**Responsive iframe**/
iframe {
    max-width: 100%;
    max-height: 100%;
}

/** Estilos Instagram bottom contactos**/
.instagram_contacto {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.logo_insta_contacto {
    width: 100px;
}



/** Regla Media query**/


@media only screen and (max-width: 1024px) {
    .portadas_galeria_contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }

    .titulo_secciones {
        margin-left: 20px;
    }

    .contenedor_info {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .foto_santu_info {
        margin-top: 30px;
        margin-bottom: 40px;
        width: 80%;
    }

    .grid_contacto {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .contenedor_direccion {
        margin-top: 70px;
    }

}

@media only screen and (max-width: 768px) {

    .navbar-nav {
        background-color: black;
    }

    .navbar-nav .nav-link {
        border-bottom: solid white;
    }

    .navbar-nav .nav-link:hover {
        color: #dc9e79;
    }

    .menu_index {
        margin-top: 30px;
    }


    footer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .logo_insta {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footer_letter {
        margin-bottom: 10px;
    }


    .textos_pagina_info1,
    .textos_pagina_info2 {
        margin: 1rem;
    }

    .textos_pagina_contacto {
        margin: 1.5rem;
    }

    .contenedor_direccion {
        margin-right: 0;
    }
}

