// Media query max-width: 768px


@media only screen and (max-width: 768px) {

    header{

        img:active{
                transform: scale(4);
              }
    
        

    .navbar{

    .navbar-nav {
        background-color: black;

    .nav-link {
        border-bottom: solid white;

        &:hover {
            color: #dc9e79;
         }
     }
  }
 }
}


    footer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        .logo_insta {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .footer_letter {
            margin-bottom: 10px;
        }
    }

.contenedor_direccion{
 margin-right: 0;

    .textos_pagina_info1,
    .textos_pagina_info2 {
        margin: 1rem;
    }

    .textos_pagina_contacto {
        margin: 1.5rem;
    }
}
    
}

