//Estilos apartado Direccion

//Mixin subtitulo  direccion y contacto

@mixin textos_contacto(){
    font-family: $fuente_pagina_titulos;
    font-size: 2rem;
    color: #a26238;
    font-weight: 500;
    line-height: 2;
    text-align: center;
}

.contenedor_direccion {
    grid-area: direccion;
    justify-self: center;
    align-self: self-start;
    background-color: black;
    padding: 15px;
    border: 0.2rem solid #5c3011;
    margin-right: 50px;

    .subtitulo_direccion {
       @include textos_contacto()

    }
    .texto_direccion {
        font-family: $fuente_pagina_titulos;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #a26238;
        text-align: justify;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

}

.formulario{
    .subtitulo_formulario {

        @include textos_contacto();

         }
        }