// Estilos pagina shop


//Estilo texto shop
.textos_pagina_shop {
    text-align: center;
    color: #a26238;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin-top: 20px;
}