//Estilos pagina información

@mixin textos_informacion(){
    color: black;
    font-weight: 500;
    font-family: $fuente_pagina_titulos;
    text-align: justify;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin: 4rem 2rem 4rem 2rem;
}

.contenedor_info {
    display: grid;
    grid-template-columns: 50% 80%;
    grid-template-rows: auto auto;
    grid-template-areas:
        'texto1 foto'
        'texto2 foto';
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: #a26238;

    .textos_pagina_info1 {
        grid-area: texto1;
        @include textos_informacion();
    }    

    .textos_pagina_info2 {
        grid-area: texto2;
        @include textos_informacion();
    }

    .foto_santu_info {
        width: 60%;
        grid-area: foto;
        justify-items: center;
        align-self: center;
    }

  

}
