
// Disposicion pagina Contacto

.grid_contacto {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "formulario direccion"
        "formulario direccion";
    justify-content: center;
    justify-items: center;
    background-color: #a26238;
    padding: 40px;
    margin-top: 80px;
    margin-bottom: 50px;
}

//Estilo de la etiqueta p para contacto

@mixin textos_contacto(){
    color: #a26238;
    font-family: $fuente_pagina_titulos;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: center;
   
}


main{
    .textos_pagina_contacto {
    @include textos_contacto();
    margin-top: 20px;
    margin-bottom: 0px;
    }

    .textos_pagina_contacto2{
    @include textos_contacto();
    margin-bottom: 0px;
    }

    .textos_pagina_contacto3{
    @include textos_contacto();
    margin-bottom: 20px;;
    }
}

/** Estilos Instagram bottom contactos**/

.instagram_contacto {
    display: flex;
     justify-content: center;
     margin-bottom: 50px;

     .bottom_contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo_insta_contacto {
        width: 100px;
        margin-bottom: 20px;  
        transition: 0.8s ease;
        

        &:hover{
            transform: scale(1.5);
            transition: 0.8s;
        }
        
    }

    .direccion_logo{
        width: 100px;
        margin-bottom: 10px;
    }
    
    
    .location_bottom{
        font-size: 1rem;
        font-family: $fuente_pagina_titulos;
        color: white;
        margin-bottom: 50px;
    
    }
 }
 

 
 
 
