//Estilo Zona Navegable comun a todas las paginas

header {
    background-color: #5c3011;
    margin-bottom: 10px;

    img{
        width: 6rem; 
        transition: transform 0.8s ease-in-out;

        &:hover {
            transform: scale(1.08);
          }

    }
    
    .navbar{
        .bg-santi {
            background-color: #5c3011;
        }
        
        .navbar-nav {
            margin-left: auto;
        
            .nav-link{
                color: white;
                text-decoration: none;
                font-family: $fuente_pagina_titulos;
                font-size: 1.2rem;
                margin: 0.8rem;

                &:hover {
                    color: #dc9e79;
                }
            }
    
        }
     }
}