//Estilos portada pagina web

//Animacion para el logo de la portada
@keyframes fadeIn {  
    from {  
        opacity:0;
    }  
 
    to {  
        opacity:1; 
    }  
 }


.contenedor_index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    background-color: black;
    min-height: 100vh;

    .items_index {
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        margin-bottom: 50px;
        text-align: center;

        .logo_inicio {
            width: 8rem;
            margin-top: 40px;
            margin-bottom: 20px;
            animation: fadeIn 2s ease-in-out forwards; 
           
        }
        .titulo_pagina {
            color: #debeab;
            font-size: 1.8rem;
            font-family: $fuente_pagina_titulos;
            letter-spacing: 0.1em;
            font-weight: lighter;
            line-height: 1.2;
            margin-top: 0;
        }

        .sutitulo_pagina {
            color: #a26238;
            font-family: 'Sawarabi Mincho', serif;
            font-size: 1.5rem;
            font-weight: lighter;
            letter-spacing: 0.3em;
            line-height: 1.2;
        }
        .descripcion_inicio {
            color: #a26238;
            font-family: $fuente_pagina_titulos;
            font-size: 1.3rem;
            letter-spacing: 0.1em;
            line-height: 1.2;
        }
    }
}