//Estilos cards de articulos a la venta

.container_cards{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 margin-bottom: 80px;

    .card{
    
        margin: 30px;

            .card-body{

                background-color: #b47b57;

                .card-text {
                    color: #462510;
                    font-family: $fuente_pagina_titulos;
                    text-align: center;
                    margin-bottom: 0px;
                }

                .tamaño_pintura{
                    color: #462510;
                    font-family: $fuente_pagina_titulos;
                    text-align: center;
                    margin-bottom: 0px;
                }

                .precio{
                    color: #462510;
                    font-family: $fuente_pagina_titulos;
                    text-align: center;
                    margin-bottom: 0px;
                }
            }
    }

}
