//Estilos cards de articulos a la venta

.container_cards{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;

    .card{
    
        margin: 50px;

            .card-body{

                background-color: #b47b57;

                .card-text {
                    color: #462510;
                    font-family: $fuente_pagina_titulos;
                }
            }
    }

}
