//Formulario pagina contacto


.grid_contacto{

    .formulario {
        grid-area: formulario;
        justify-self: center;
        align-self: center;
        background-color: black;
        padding: 20px;
        border: 0.2rem solid #5c3011;
        

        
        input
        {
            display: flex;
            flex-wrap: wrap;
            background-color: white;
            border-radius: 4px;
            border: solid black;
            width: 100%;
            padding: 12px;
        }

        textarea {
            @extend input;
        }
        
        label {
            font-family: $fuente_pagina_titulos;
            color: #a26238;
            font-size: 1rem;
            padding: 10px 10px 10px 0;
        }
        
        .button {
            margin: 15px;
        
        button[type=submit] {
            border: none;
            color: black;
            background-color: white;
            border-radius: 4px;
            font-family: $fuente_pagina_titulos;
            font-weight: 600;
            cursor: pointer;
            padding: 5px 15px;
            float: right;
            transition:0.5s;

            &:hover {
                background-color: antiquewhite;
                transition:0.5s;
            }
        }
    
      }
    }
}

