//Estilos titulos de todas las paginas

main{
.titulo_secciones {
    font-size: 2rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
}